<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="styles/criar-evento-styles.css" />
    <title>Document</title>
</head>

<body>
    <h1>Fazer Cadastro</h1>
    <form>

        <label for="email">Nome</label>
        <input id="nome" type="text" name="nome" placeholder="digite seu nome" />

        <label for="email">E-mail</label>
        <input id="email" type="email" name="email" placeholder="digite seu email" />

        <label for="cpf">CPF</label>
        <input id="cpf" type="text" name="cpf" placeholder="digite seu CPF" />

        <label for="password">Criar senha</label>
        <input id="password" type="criarpassword" name="criarpassword" placeholder="crie sua senha" />

        <button type="submit">Cadastrar</button>
        <a href="/">Voltar para login</a>
    </form>
</body>

</html>