<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/criar-evento-styles.css">
    <title>Document</title>
</head>

<body>

    <div class="caixa">
        <div class="conteudo">
            <h1 class="titulo">Crie e compartilhe <br>seu evento.</h1>
            <br>
            <small>O primeiro passo, é preencher esse formulário de inscrição</small>
            <div>

                <form action="/criarEventos" method="post">
                    <h1>Informações do evento</h1>
                    <label for="nome">Nome</label>
                    <input id="nome" type="text" name="nome" placeholder="digite seu nome" />

                    <label for="data">Data</label>
                    <input id="data" type="date" name="data" placeholder="" />

                    <label for="local">Local</label>
                    <input id="local" type="text" name="local" placeholder="Local" />

                    <button type="submit">Salvar evento</button>

            </div>
        </div>
    </div>
</body>

</html>