<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/criar-evento-styles.css" />
    <title>Document</title>
</head>

<body>
    <div class="caixa">
        <div class="conteudo">
            <h1 class="titulo">Crie e compartilhe <br>seu evento.</h1>
            <br>
            <small>O primeiro passo, é preencher esse formulário de inscrição</small>
            <div>
                <ul>
                    <a href="/criarEventos"><h2>Criar um evento</h2></a>
                    <h1>Eventos</h1>
                    <li>
                        <strong>Nome:</strong> Evento 1
                        <strong>Data:</strong> 01/01/2024
                        <strong>Local:</strong> Local 1
                        
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>