<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="styles/criar-evento-styles.css"  />

    <title>Document</title>
</head>
<body>
    <h1>Entrar na conta</h1>

    <form>
        <label for="email">E-mail</label>
        <input id="email" type="email" name="email" placeholder="digite seu email" />

        <label for="password">Senha</label>
        <input id="password" type="password" name="password" placeholder="digite sua senha" />

        <button type="submit">Entrar</button>
        <a href="/criar-conta">Criar uma conta</a>
    </form>
</body>
</html>